.quantity {
  width: 50px;
  position: absolute;
  right: 30px;
  border: 1px solid #333;
  font-size: 12px;
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 10px;
  text-align: center;
}
.concentration {
  width: 40px;
  position: absolute;
  right: 100px;
  border: 1px solid #333;
  font-size: 12px;
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 10px;
  text-align: center;
}
.displayInfo {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.displayInfo h5 {
  color: grey;
  font-size: 18px;
}
