<div class="container" *ngIf="showForm; else showSpinner">
  <mz-input-container>
    <div class="grey-text" [align]="'right'">{{dateSchedule | date: 'fullDate'}}</div>
  </mz-input-container>
  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()" novalidate>
    <mz-timepicker-container>
      <input mz-timepicker
             required
             mz-validation
             autocomplete="off"
             [label]="'Start time'"
             [options]="timepickerOptions"
             id="start"
             type="text"
             formControlName="start"
             [errorMessageResource]="errorMessageResources.start">
    </mz-timepicker-container>
    <mz-timepicker-container>
      <input mz-timepicker
             required
             mz-validation
             autocomplete="off"
             label="End time"
             [options]="timepickerOptions"
             id="end"
             type="text"
             formControlName="end"
             [errorMessageResource]="errorMessageResources.end">
    </mz-timepicker-container>
    <mz-select-container >
      <select mz-select mz-validation required
              id="activityTitle"
              formControlName="activityTitle"
              [errorMessageResource]="errorMessageResources.activityTitle"
              [label]="'Activity'"
              [placeholder]="'Choose your activity'">
        <option *ngFor="let activityOption of activityOptions" [ngValue]="activityOption">{{ activityOption.text }}</option>
      </select>
    </mz-select-container>
    <div style="height: 3px"></div>
    <mz-input-container *ngIf="!scheduleForm.valid; else btn">
      <button
        mz-button
        [flat]="false"
        [large]="false"
        [float]="false"
        [disabled]="!scheduleForm.valid"
        type="button">New</button>
    </mz-input-container>
    <ng-template #btn>
      <mz-input-container>
        <button
          class="green white-text"
          mz-button
          [flat]="false"
          [large]="false"
          [float]="false"
          [disabled]="!scheduleForm.valid"
          type="submit">New</button>
      </mz-input-container>
    </ng-template>
  </form>
</div>
<ng-template #showSpinner>
  <div class="center-jack-container">
    <mz-spinner
      [color]="'blue'"
      [size]="'medium'">
    </mz-spinner>
  </div>
</ng-template>
