<div class="container" *ngIf="showForm; else showSpinner">
  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()" novalidate>

    <mz-datepicker-container (click)="$event.stopPropagation()">
      <input mz-datepicker
             required
             mz-validation
             id="'dateSchedule'"
             type="text"
             formControlName="dateSchedule"
             autocomplete="off"
             label="Date of schedule"
             [options]="datepickerOptions"
             [errorMessageResource]="errorMessageResources.dateSchedule" >
    </mz-datepicker-container>

    <mz-timepicker-container>
      <input mz-timepicker
             required
             mz-validation
             label="Start time"
             [options]="timepickerOptions"
             id="startTime"
             type="text"
             formControlName="startTime"
             [errorMessageResource]="errorMessageResources.startTime">
    </mz-timepicker-container>

    <mz-timepicker-container>
      <input mz-timepicker
             required
             mz-validation
             label="End time"
             [options]="timepickerOptions"
             id="endTime"
             type="text"
             formControlName="endTime"
             [errorMessageResource]="errorMessageResources.endTime">
    </mz-timepicker-container>

    <div class="fixed-action-btn">
      <button *ngIf="!scheduleForm.valid"
              mz-button
              [flat]="false"
              [large]="true"
              [float]="true"
              [disabled]="true"
              type="button"
      ><i mz-icon-mdi [size]="'24px'" [icon]="'send'"></i>
      </button>
      <button *ngIf="scheduleForm.valid"
              class="blue"
              mz-button
              [flat]="false"
              [large]="true"
              [float]="true"
              [disabled]="!scheduleForm.valid"
              type="submit"
      ><i mz-icon-mdi [size]="'24px'" [icon]="'send'"></i>
      </button>
    </div>
  </form>
</div>

<ng-template #showSpinner>
  <div class="center-jack-container">
    <mz-spinner
      [color]="'blue'"
      [size]="'medium'">
    </mz-spinner>
  </div>
</ng-template>
