<div class="container" *ngIf="showFormSignUp; else showSpinner">
  <div style="position: fixed; top: 15px;" [align]="'left'" class="large-text grey-text">Sign up for the app</div>
  <div [align]="'right'">
    <i mz-icon-mdi
       class="grey-text"
       [icon]="'account-plus-outline'"
       [size]="'36px'">
    </i>
  </div>
  <form [formGroup]="signUpForm" novalidate>
    <mz-input-container>
      <input mz-input mz-validation required
             id="name"
             formControlName="name"
             type="text"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.name"
             [label]="'Name'" />
    </mz-input-container>
    <mz-input-container>
      <input mz-input mz-validation required
             id="email"
             formControlName="email"
             type="email"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.email"
             [label]="'Email'" />
    </mz-input-container>
    <mz-input-container>
      <input mz-input mz-validation required
             id="password"
             formControlName="password"
             type="password"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.password"
             [label]="'Password'" />
    </mz-input-container>
    <mz-input-container >
      <input mz-input mz-validation required
             id="confirmPassword"
             formControlName="confirmPassword"
             type="password"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.confirmPassword"
             [label]="'Confirm password'" />
    </mz-input-container>
    <mz-input-container *ngIf="!signUpForm.valid; else btn" >
      <button
        mz-button
        [flat]="false"
        [large]="false"
        [float]="false"
        [disabled]="!signUpForm.valid"
        type="button">Sign up</button>
    </mz-input-container>
    <ng-template #btn>
      <mz-input-container>
        <button
          (click)="captchaRef.execute()"
          class="green white-text"
          mz-button
          [flat]="false"
          [large]="false"
          [float]="false"
          [disabled]="!signUpForm.valid"
          type="submit">Sign up</button>
      </mz-input-container>
    </ng-template>
    <re-captcha
      theme="dark"
      #captchaRef="reCaptcha"
      siteKey="6LevM7UUAAAAAP26cW0Hn4j31GWa-teO9iutE8T7"
      size="invisible"
      (resolved)="$event && onSubmit($event)"
    ></re-captcha>
  </form>
</div>
<ng-template #showSpinner>
  <div class="center-jack-container">
    <mz-spinner
      [color]="'blue'"
      [size]="'medium'">
    </mz-spinner>
  </div>
</ng-template>
