<div class="container" *ngIf="showFormSignUp; else showSpinner">
  <form [formGroup]="signUpForm" novalidate>
    <div [align]="'right'">
      <i mz-icon-mdi
         class="grey-text"
         [icon]="'account-plus-outline'"
         [size]="'48px'">
      </i>
    </div>
    <mz-input-container>
      <input mz-input mz-validation required
             id="name"
             formControlName="name"
             type="text"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.name"
             [label]="'Name'" />
    </mz-input-container>
    <mz-input-container>
      <input mz-input mz-validation required
             id="email"
             formControlName="email"
             type="email"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.email"
             [label]="'Email'" />
    </mz-input-container>
    <mz-input-container>
      <input mz-input mz-validation required
             id="password"
             formControlName="password"
             type="password"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.password"
             [label]="'Password'" />
    </mz-input-container>
    <mz-input-container >
      <input mz-input mz-validation required
             id="confirmPassword"
             formControlName="confirmPassword"
             type="password"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.confirmPassword"
             [label]="'Confirm password'" />
    </mz-input-container>
    <mz-input-container *ngIf="!signUpForm.valid; else btn" >
      <button
        class="btnDisable"
        mz-button
        [flat]="true"
        [large]="false"
        [float]="false"
        [disabled]="true"
        type="button">Sign up</button>
    </mz-input-container>
    <ng-template #btn>
      <mz-input-container>
        <button
          (click)="captchaRef.execute()"
          class="green white-text btnEnable"
          mz-button
          [flat]="true"
          [large]="false"
          [float]="false"
          [disabled]="!signUpForm.valid"
          type="submit">Sign up</button>
      </mz-input-container>
    </ng-template>
    <!--<mz-input-container>
      <div class="fixed-action-btn">
        <button
          type="button"
          id="info-button"
          (click)="featureDiscovery.open()"
          mz-button
          [flat]="false"
          [large]="true"
          [float]="true"
          class="blue">
          <i mz-icon-mdi [size]="'36px'" [icon]="'information-outline'"></i>
        </button>
        <mz-feature-discovery class="blue darken-4" [targetId]="'info-button'" #featureDiscovery>
          <h5>Warning</h5>
          <p>Register only for IFBA servers. If you are a regular user, enter your social account by <a (click)="logInGoogle()">clicking here!</a></p>
        </mz-feature-discovery>
      </div>
    </mz-input-container>-->
    <re-captcha
      theme="dark"
      #captchaRef="reCaptcha"
      siteKey="6Ldpu2sUAAAAAL9T4QMtW9km-QBwHKiE5ZpTc2q8"
      size="invisible"
      (resolved)="$event && onSubmit($event)"
    ></re-captcha>
  </form>
</div>
<ng-template #showSpinner>
  <div class="center-jack-container">
    <mz-spinner
      [color]="'blue'"
      [size]="'medium'">
    </mz-spinner>
  </div>
</ng-template>
