
<p *ngIf="!passReset && userForm.controls.email.valid" (click)="resetPassword()">Reset Password for{{userForm.value.email}}</p>
<p *ngIf="passReset">Reset requested. Check your email instructions.</p>

<div class="container" *ngIf="showFormLogin; else showSpinner">
  <form [formGroup]="logInForm" novalidate>
    <mz-input-container>
      <input mz-input mz-validation required
             id="email"
             formControlName="email"
             type="email"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.email"
             [label]="'Email'" />
    </mz-input-container>
    <mz-input-container>
      <button
        mz-button
        *ngIf="!passReset && userForm.controls.email.valid" (click)="resetPassword()"
        [flat]="false"
        [large]="false"
        [float]="false"
        [disabled]="!logInForm.valid"
        type="button"
      >Enviar email</button>
    </mz-input-container>
  </form>
</div>
<ng-template #showSpinner>
  <div class="center-jack-container">
    <mz-spinner
      [color]="'blue'"
      [size]="'medium'">
    </mz-spinner>
  </div>
</ng-template>
