<mz-collection>
  <mz-collection-item (click)="getTitle(place.data.name)" *ngFor="let place of places | async" mz-collection-link routerLink="{{place.id}}" [avatar]="true" class="waves-effect waves-light">
    <i mz-avatar mz-icon-mdi [icon]="'map-marker'" class="blue"></i>
    <div class="title">{{place.data.name | uppercase}}</div>
    <div class="grey-text">Sector: {{place.data.sector}}</div>
    <div class="blue-grey-text"><i mz-icon-mdi [icon]="'email'" [align]="'left'" [size]="'16px'"></i>{{place.data.email}}</div>
  </mz-collection-item>
</mz-collection>


