<mz-collection>
  <mz-collection-item
    (click)="clickPlace(place.data.code)"
    *ngFor="let place of places | async"
    mz-collection-link
    routerLink="{{place.id}}/calendar"
    [avatar]="true"
    class="waves-effect waves-light">
    <i mz-avatar mz-icon-mdi [icon]="'map-marker'" class="blue"></i>
    <div class="title">{{place.data.code}}</div>
    <div class="grey-text">{{place.data.description }}&nbsp;</div>
    <div *ngIf="place.data.status" class="secondary-content"><i mz-icon-mdi [icon]="'check-circle-outline'" [size]="'24px'" class="green-text"></i></div>
    <div *ngIf="!place.data.status" class="secondary-content"><i mz-icon-mdi [icon]="'close-circle-outline'" [size]="'24px'" class="orange-text"></i></div>
  </mz-collection-item>
</mz-collection>

