<div class="container">
  <mz-collapsible *ngIf="computer" mode="accordion" [popout]="false">
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'arrow-collapse-vertical'"></i>BASEBOARD
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p>
          <i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>
          AssetTag - {{computer.baseboard.assetTag}}
        </p>
        <p>
          <i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>
          Manufacturer - {{computer.baseboard.manufacturer}}
        </p>
        <p>
          <i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>
          Model - {{computer.baseboard.model}}
        </p>
        <p>
          <i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>
          Serial - {{computer.baseboard.serial}}
        </p>
        <p>
          <i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>
          Version - {{computer.baseboard.version}}
        </p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'arrow-collapse-vertical'"></i>
        BIOS
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Release Date - {{computer.bios.releaseDate}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Revision - {{computer.bios.revision}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Vendor - {{computer.bios.vendor}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Version - {{computer.bios.version}}</p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'arrow-collapse-vertical'"></i>
        CPU
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Brand - {{computer.cpu.brand}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>
          Cache -
          {{computer.cpu.cache['l1d']}},
          {{computer.cpu.cache['l1i']}},
          {{computer.cpu.cache['l2']}},
          {{computer.cpu.cache['l3']}}
        </p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Cores - {{computer.cpu.cores}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Family - {{computer.cpu.family}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Flags - {{computer.cpu.flags}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Manufacturer - {{computer.cpu.manufacturer}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Model - {{computer.cpu.model}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Revision - {{computer.cpu.revision}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Speed - {{computer.cpu.speed}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Speed Max.{{computer.cpu.speedmax}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Speed Min.{{computer.cpu.speedmin}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Stepping - {{computer.cpu.stepping}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Vendor - {{computer.cpu.vendor}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Voltagem - {{computer.cpu.voltagem}}</p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'arrow-collapse-vertical'"></i>
        NET
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <div *ngFor="let device of computer.net; let i = index">
          <b class="orange-text">Interface - {{i}} </b>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>IFACE - {{device.iface}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>IPv4 Address - {{device.ip4}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>IPv6 Address - {{device.ip6}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>MAC Address - {{device.mac}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Internal - {{device.internal}}</p>
        </div>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'arrow-collapse-vertical'"></i>
        DISK
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <div *ngFor="let disk of computer.diskLayout; let i = index">
          <b class="orange-text">Disk - {{i}}</b>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Bytes Per Sector - {{disk.bytesPerSector}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Firmware Revision - {{disk.firmwareRevision}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Interface Type - {{disk.interfaceType}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Name - {{disk.name}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Sectors Per Track - {{disk.sectorsPerTrack}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Serial Number - {{disk.serialNun}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Size - {{disk.size}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Total Heads - {{disk.totalHeads}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Total Sectors - {{disk.totalSectors}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Total Tracks - {{disk.totalTracks}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Tracks Per Cylinder - {{disk.tracksPerCylinder}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Type - {{disk.type}}</p>
          <p ><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Vendor - {{disk.vendor}}</p>
        </div>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'arrow-collapse-vertical'"></i>
        GRAPHICS
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <div *ngFor="let controller of computer.graphics.controllers, let i = index">
          <b class="orange-text">Controller - {{i}}</b>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Bus - {{controller.bus}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Model - {{controller.model}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Vendor - {{controller.vendor}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>VRAM - {{controller.vram}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>VRAM Dynamic - {{controller.vramDynamic}}</p>
        </div>
        <div *ngFor="let display of computer.graphics.displays; let i = index">
          <b class="orange-text">Display - {{i}}</b>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Builtin - {{display.builtin}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Connection - {{display.connection}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Main - {{display.main}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Model - {{display.model}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Pixel Depth - {{display.pixeldepth}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Resolution Y - {{display.resolutiony}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Resolution X - {{display.resolutionx}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Size Y - {{display.sizey}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Size X - {{display.sizex}}</p>
        </div>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'arrow-collapse-vertical'"></i>
        MEMORY RAM
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <div *ngFor="let slot of computer.memLayout; let i = index">
          <b class="orange-text">Slot - {{i}} </b>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Bank - {{slot.bank}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Size - {{slot.size}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Type - {{slot.type}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Clock Speed - {{slot.clockSpeed}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Form Factor - {{slot.formFactor}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Manufacturer - {{slot.manufacturer}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Part Number - {{slot.partNum}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Serial Number - {{slot.serialNum}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Voltage Configured - {{slot.voltageConfigured}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Voltage Min. - {{slot.voltageMin}}</p>
          <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Voltage Max. - {{slot.voltageMax}}</p>
        </div>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'arrow-collapse-vertical'"></i>
        VERSIONS
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Kernel - {{computer.versions.kernel}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>OpenSSL - {{computer.versions.openssl}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Node- {{computer.versions.node}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>V8 - {{computer.versions.v8}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>NPM - {{computer.versions.npm}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Yarn - {{computer.versions.yarn}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>PM2 - {{computer.versions.pm2}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Gulp - {{computer.versions.gulp}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Grunt - {{computer.versions.grunt}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Git - {{computer.versions.git}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>TSC - {{computer.versions.tsc}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>MySql - {{computer.versions.mysql}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Redis - {{computer.versions.redis}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>MongoDB - {{computer.versions.mongodb}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>NgInx - {{computer.versions.nginx}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>PHP - {{computer.versions.php}}</p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'arrow-collapse-vertical'"></i>
        O. SYSTEM
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Platform - {{computer.os.platform}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Distro - {{computer.os.distro}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Release - {{computer.os.release}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Codename - {{computer.os.codename}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Kernel - {{computer.os.kernel}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Arch - {{computer.os.arch}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Hostname - {{computer.os.hostname}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Logofile - {{computer.os.logofile}}</p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'arrow-collapse-vertical'"></i>
        SYSTEM
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Manufacturer - {{computer.system.manufacturer}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Model - {{computer.system.model}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Version- {{computer.system.version}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>Serial - {{computer.system.serial}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>UUID - {{computer.system.uuid}}</p>
        <p><i mz-icon-mdi [icon]="'menu-right'" [size]="'16px'" [align]="'left'"></i>SKU - {{computer.system.sku}}</p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</div>
