<mz-collection>
  <mz-collection-item [avatar]="true" *ngFor="let schedule of schedules | async" class="waves-effect">
    <i *ngIf="schedule.data.user != user" mz-avatar mz-icon-mdi [icon]="'calendar-clock'" class="blue-grey darken-4 blue-grey-text" style="border: solid 1px #607d8b"></i>
    <i *ngIf="schedule.data.user == user" mz-avatar mz-icon-mdi [icon]="'calendar-clock'" class="green"></i>
    <div class="title">{{schedule.data.startTime.toDate() | date: 'fullDate'}}</div>
    <div class=" blue-grey-text">
      {{schedule.data.startTime.toDate() | date:'shortTime'}}&nbsp;&nbsp;-&nbsp;&nbsp;{{schedule.data.endTime.toDate() | date:'shortTime'}}
    </div>
    <button mz-button [flat]="true" [float]="true" mz-secondary-content (click)="details(schedule.id)" >
      <i mz-icon-mdi class="blue-grey-text" [size]="''" [icon]="'eye-outline'"></i>
    </button>
  </mz-collection-item>
</mz-collection>

<div class="fixed-action-btn">
  <a *ngIf="show" mz-button [large]="true" [float]="true" class="blue"> <i mz-icon-mdi class="" [size]="'24px'" [icon]="'menu'"></i> </a>
  <a *ngIf="!show" routerLink="../new" mz-button [large]="true" [float]="true" class="blue"> <i mz-icon-mdi class="" [size]="'24px'" [icon]="'plus'"></i> </a>
  <ul *ngIf="show">
    <li>
      <a routerLink="../filter" mz-button [large]="true" [float]="true" class="blue-grey darken-3">
        <i mz-icon-mdi class="blue-text" [size]="'24px'" [icon]="'filter-variant'"></i>
      </a>
    </li>
    <li>
      <a routerLink="../new" mz-button [large]="true" [float]="true" class="blue-grey darken-3">
        <i mz-icon-mdi class="blue-text" [size]="'24px'" [icon]="'plus'"></i>
      </a>
    </li>
  </ul>
</div>

<div class="center-jack-container" *ngIf="!show && !showSpinner">
  <div class="blue-grey-text" style="border: 1px solid #455a64; padding: 30px; border-radius: 25px;">nothing here for now</div>
</div>

<div *ngIf="showSpinner" class="center-jack-container">
  <mz-spinner
    [color]="'blue'"
    [size]="'medium'">
  </mz-spinner>
</div>
