<div *ngIf="largeResolution | async">
  <br/>
  <mz-navbar [navbarClass]="'grey darken-4'">
    <mz-navbar-item-container [align]="'left'">
      <mz-navbar-item>
        <button
          mz-button
          [flat]="true"
          [large]="true"
          [float]="true"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        ><i mz-icon-mdi [icon]="'chevron-left'" [size]="'24px'" ></i></button>
      </mz-navbar-item>
      <mz-navbar-item>
        <button
          class="white-text"
          mz-button
          [flat]="true"
          [large]="true"
          [float]="true"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >today</button>
      </mz-navbar-item>
      <mz-navbar-item>
        <button
          mz-button
          [flat]="true"
          [large]="true"
          [float]="true"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        ><i mz-icon-mdi [icon]="'chevron-right'" [size]="'24px'" ></i></button>
      </mz-navbar-item>
    </mz-navbar-item-container>
    <a class="center brand-logo">
      {{ viewDate | calendarDate: view + 'ViewTitle':locale | titlecase}}
    </a>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item *ngIf="view == 'day' && user?.profile !== 'public'">
        <button
          class="blue"
          routerLink="../new"
          mz-button
          [flat]="true"
          [large]="true"
          [float]="true"
        >
          <i mz-icon-mdi class="blue-text" [icon]="'plus'" [size]="'24px'" ></i>
        </button>
      </mz-navbar-item>
      <mz-navbar-item *ngIf="view == 'day'">
        <button
          mz-button
          [flat]="true"
          [large]="true"
          [float]="true"
          (click)="viewChange.emit('month')"
          [class.active]="view === 'month'"
        >
          <i mz-icon-mdi [icon]="'calendar-month'" [size]="'24px'" ></i>
        </button>
      </mz-navbar-item>
      <!--<mz-navbar-item>
        <button
          *ngIf="filterActive && user?.profile !== 'public'"
          mz-button
          [flat]="true"
          [large]="true"
          [float]="true"
          (click)="viewChange.emit('month')"
        >
          <i mz-icon-mdi class="yellow-text" [icon]="'filter-variant'" [size]="'24px'" ></i>
        </button>
      </mz-navbar-item>
      <mz-navbar-item>
        <button
          *ngIf="!filterActive && user?.profile !== 'public'"
          mz-button
          [flat]="true"
          [large]="true"
          [float]="true"
          (click)="filter.emit()"
        >
          <i mz-icon-mdi [rotate]="'180'"  [icon]="'filter-variant'" [size]="'24px'" ></i>
        </button>
      </mz-navbar-item>-->
    </mz-navbar-item-container>
  </mz-navbar>
</div>

<div *ngIf="smallResolution | async">
  <div class="navbar-fixed">
    <mz-navbar [navbarClass]="'grey darken-4'">
      <mz-navbar-item-container [align]="'left'">
        <mz-navbar-item>
          <button
            mz-button
            [flat]="true"
            [large]="false"
            [float]="true"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)"
          ><i mz-icon-mdi [icon]="'chevron-left'" [size]="'16px'" ></i></button>
        </mz-navbar-item>
      </mz-navbar-item-container>
      <mz-navbar-item-container *ngIf="view == 'month'">
        <mz-navbar-item class="brand-logo">
          {{ viewDate | calendarDate: view + 'ViewTitle':locale }}
        </mz-navbar-item>
      </mz-navbar-item-container>
      <mz-navbar-item-container *ngIf="view == 'day'">
        <mz-navbar-item class="brand-logo">
          {{ viewDate | calendarDate: view + 'ViewTitle':locale | date: 'EEE, MMM d, y' }}
        </mz-navbar-item>
      </mz-navbar-item-container>
      <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item>
          <button
            mz-button
            [flat]="true"
            [large]="false"
            [float]="true"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)"
          ><i mz-icon-mdi [icon]="'chevron-right'" [size]="'16px'" ></i></button>
        </mz-navbar-item>
      </mz-navbar-item-container>
    </mz-navbar>
  </div>
  <div class="navbar-fixed-bottom">
    <mz-navbar [navbarClass]="'grey darken-4'">
      <mz-navbar-item-container [align]="'left'">
        <mz-navbar-item class="brand-logo left">
          <button
            class="white-text"
            mz-button
            [flat]="true"
            [large]="true"
            [float]="true"
            mwlCalendarToday
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)"
          >today</button>
        </mz-navbar-item>
      </mz-navbar-item-container>
      <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item *ngIf="view == 'day' && user?.profile !== 'public'">
          <button
            routerLink="../new"
            mz-button
            [flat]="true"
            [large]="true"
            [float]="true"
          >
            <i mz-icon-mdi class="blue-text" [icon]="'plus'" [size]="'16px'" ></i>
          </button>
        </mz-navbar-item>
        <mz-navbar-item *ngIf="view == 'day'">
          <button
            mz-button
            [flat]="true"
            [large]="true"
            [float]="true"
            (click)="viewChange.emit('month')"
            [class.active]="view === 'month'"
          >
            <i mz-icon-mdi [icon]="'calendar-month'" [size]="'16px'" ></i>
          </button>
        </mz-navbar-item>
        <mz-navbar-item>
          <button
            *ngIf="filterActive && user?.profile !== 'public'"
            mz-button
            [flat]="true"
            [large]="true"
            [float]="true"
            (click)="viewChange.emit('month')"
          >
            <i mz-icon-mdi class="yellow-text" [icon]="'filter-variant'" [size]="'16px'" ></i>
          </button>
        </mz-navbar-item>
        <mz-navbar-item>
          <button
            *ngIf="!filterActive && user?.profile !== 'public'"
            mz-button
            [flat]="true"
            [large]="true"
            [float]="true"
            (click)="filter.emit()"
          >
            <i mz-icon-mdi [rotate]="'180'"  [icon]="'filter-variant'" [size]="'16px'" ></i>
          </button>
        </mz-navbar-item>
      </mz-navbar-item-container>
    </mz-navbar>
  </div>
</div>
