h1 {
  font-family: "Arial", serif;
  font-weight: 900;
}
button{
  margin-top: 50px;
  border-radius: 50px;
  background: #37474f;
  border: 1px solid grey;
}
.footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
