<mwl-utils-calendar-header
  [filterActive]="filterActive"
  [user]="user"
  [(view)]="view"
  [(viewDate)]="viewDate"
  (filter)="fetchUserEvents()"
  (viewDateChange)="fetchEvents()"
  (viewChange)="fetchEvents()">
</mwl-utils-calendar-header>

<div *ngIf="events$ | async; let events else loading;">
  <div style="margin-bottom: 57px" [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      (eventTimesChanged)="eventTimesChanged($event)"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="viewDate = $event.day.date; dayClicked($event.day)">
    </mwl-calendar-month-view>
  </div>
</div>

<mz-modal
    #modal
    class="blue-grey-text"
    [fullscreen]="smallResolution | async"
    [fixedFooter]="true"
    [bottomSheet]="smallResolution | async"
    [options]="modalOptions"
>
  <mz-modal-header>
    <h5>{{schedule.title}}</h5>
  </mz-modal-header>
  <mz-modal-content>
    <div style="border-radius: 5px; border: 1px solid #607d8b; padding: 5px;">
      <p><b>Date:&nbsp;</b>{{schedule.start | date }}</p>
      <p><b>Schedule:&nbsp;</b> {{schedule.start | date: 'shortTime' }} - {{schedule.end | date: 'shortTime' }}</p>
      <p><b>Place:&nbsp;</b>{{placeCode}} ({{placeDescription}})</p>
      <p><b>Owner:&nbsp;</b><i>missing implement</i></p>
    </div>
    <small class="right blue-grey darken-4 grey-text" style="margin-top: 10px; padding: 3px 10px 3px 10px; border-radius: 10px;">SID: {{schedule.id}}</small>
  </mz-modal-content>
  <mz-modal-footer>
    <button (click)="cancelSchedule(schedule.id)" *ngIf="user?.uid === schedule.user" class="red-text" mz-button [flat]="true" [large]="false" [float]="false" mz-modal-close>DELETE</button>
    <button class="blue-grey-text" mz-button [flat]="true" [large]="false" [float]="false" mz-modal-close>CLOSE</button>
  </mz-modal-footer>
</mz-modal>

<ng-template #loading>
  <div class="center-jack-container">
    <mz-spinner
      [color]="'blue'"
      [size]="'medium'">
    </mz-spinner>
  </div>
</ng-template>

<!--<mz-input-container>
  <div class="fixed-action-btn">
    <button
      type="button"
      id="info-button"
      (click)="featureDiscovery.open()"
      mz-button
      [flat]="false"
      [large]="true"
      [float]="true"
      class="blue">
      <i mz-icon-mdi [size]="'36px'" [icon]="'information-outline'"></i>
    </button>
    <mz-feature-discovery class="blue darken-4" [targetId]="'info-button'" #featureDiscovery>
      <h5>Warning</h5>
      <p>Register only for IFBA servers. If you are a regular user, enter your social account by <a href="!#">clicking here!</a></p>
    </mz-feature-discovery>
  </div>
</mz-input-container>-->
