<div class="container" *ngIf="showFormLogin; else showSpinner">
  <form [formGroup]="logInForm" novalidate >
    <div [align]="'right'">
      <i mz-icon-mdi class="grey-text" [size]="'48px'" [icon]="'lock-outline'"></i>
    </div>
    <mz-input-container>
      <input mz-input mz-validation required
             id="email"
             formControlName="email"
             type="email"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.email"
             [label]="'Email'" />
    </mz-input-container>
    <mz-input-container >
      <input mz-input mz-validation required
             id="password"
             formControlName="password"
             type="password"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.password"
             [label]="'Password'" />
    </mz-input-container>
    <mz-input-container *ngIf="!logInForm.valid; else btn">
      <button class="btnDisable"
              mz-button
              [flat]="true"
              [large]="false"
              [float]="false"
              [disabled]="true"
              type="button">log In</button>
    </mz-input-container>
    <div class="" style="margin-top: 20px">
      <a class="grey-text left" routerLink="../registration">Sign up here!</a>
      <a class="grey-text right" routerLink="../forgot-password">Forgot password?</a>
      <br/>
      <br/>
      <a class="grey-text right" (click)="logInGoogle()" >User public?</a>
    </div>
    <ng-template #btn>
      <mz-input-container>
        <button
          (click)="captchaRef.execute()"
          class="green white-text btnEnable "
          mz-button
          [flat]="true"
          [large]="false"
          [float]="false"
          [disabled]="!logInForm.valid"
          type="submit">log in</button>
      </mz-input-container>
    </ng-template>
    <re-captcha
      theme="dark"
      #captchaRef="reCaptcha"
      siteKey="6Ldpu2sUAAAAAL9T4QMtW9km-QBwHKiE5ZpTc2q8"
      size="invisible"
      (resolved)="$event && onSubmit($event)"
    ></re-captcha>
  </form>
</div>
<ng-template #showSpinner>
  <div class="center-jack-container">
    <mz-spinner
      [color]="'blue'"
      [size]="'medium'">
    </mz-spinner>
  </div>
</ng-template>
<app-footer></app-footer>
