<div class="container" *ngIf="showFormLogin; else showSpinner">
  <header class="" style="width: 100%; height: 100px; margin-top: 20px" >
    <div class="left">
      <img class="left" src="../../../assets/icons/icon-72x72.png">
    </div>
    <div class="right" style="text-align: right">
      <div class="" style="margin-top: 5px; margin-right: 3px; font-size: 10px">Instituto Federal da Bahia</div>
      <div class="" style="line-height: 1;  margin-right: 3px;">Campus Porto Seguro</div>
      <div class="grey-text" style="margin-top: 21px;  margin-right: 3px; font-size: 11px; text-transform: uppercase">Laboratory Management System</div>
    </div>
  </header>

  <form [formGroup]="logInForm" novalidate>
    <mz-input-container>
      <input mz-input mz-validation required
             id="email"
             formControlName="email"
             type="email"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.email"
             [label]="'Email'" />
    </mz-input-container>
    <mz-input-container >
      <input mz-input mz-validation required
             id="password"
             formControlName="password"
             type="password"
             autocomplete="off"
             [errorMessageResource]="errorMessageResources.password"
             [label]="'Password'" />
    </mz-input-container>
    <mz-input-container *ngIf="!logInForm.valid; else btn">
      <button
        mz-button
        [flat]="false"
        [large]="false"
        [float]="false"
        [disabled]="!logInForm.valid"
        type="button"
      >log In</button>
    </mz-input-container>
    <mz-input-container>
      <button
        mz-button
        [large]="false"
        [float]="false"
        [flat]="false"
        class="blue-grey darken-3"
        (click)="logInGoogle()"
      >Public</button>
    </mz-input-container>
    <mz-input-container>
      <a class="grey-text left" routerLink="../registration">Sign up here!</a>
      <a class="grey-text right" routerLink="../forgot-password">Forgot password?</a>
    </mz-input-container>
    <ng-template #btn>
      <mz-input-container>
        <button
          (click)="captchaRef.execute()"
          class="green white-text"
          mz-button
          [flat]="false"
          [large]="false"
          [float]="false"
          [disabled]="!logInForm.valid"
          type="submit">log in</button>
      </mz-input-container>
    </ng-template>
    <re-captcha
      theme="dark"
      #captchaRef="reCaptcha"
      siteKey="6Ldpu2sUAAAAAL9T4QMtW9km-QBwHKiE5ZpTc2q8"
      size="invisible"
      (resolved)="$event && onSubmit($event)"
    ></re-captcha>
  </form>
</div>
<ng-template #showSpinner>
  <div class="center-jack-container">
    <mz-spinner
      [color]="'blue'"
      [size]="'medium'">
    </mz-spinner>
  </div>
</ng-template>
