<div class="container">
  <mz-collection>
    <mz-collection-item
      (click)="clickPlace(place.data.description)"
      *ngFor="let place of places | async"
      mz-collection-link
      routerLink="{{place.id}}"
      [avatar]="true"
      class="waves-effect waves-light">
      <i mz-avatar mz-icon-mdi [icon]="'map-marker'" class="blue"></i>
      <div class="title">{{place.data.code}}</div>
      <div class="grey-text">{{place.data.description}}</div>
    </mz-collection-item>
  </mz-collection>
</div>
